<html>
    <head>
        <title>
            Change Password
        </title>
    </head>
    <body>
        <h3>Enter new password for your account</h3>

        <div>
            <form method="post" action="/update_user_password" id="update_password_form">
                <label for="update_password_form">Enter new password : </label>
                <input type="password" name="password1" id="password1" required><br><br>
                <label for="update_password_form">Re-enter new password : </label>
                <input type="password" name="password2" id="password2" required><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>

    </body>
</html>